{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Add Inventory</h3>
        </div>
    </div>
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_inventory') }}">
            <!--Loudspeaker Categories-->
          <div class="row">
            <div class="col s12">
              <h4>Do You Stock Loudspeakers in Your Inventory?</h4>
            </div>
            <div class="col 6">
              <a class="waves-effect waves-light btn-large" id="loudspeaker_yes_btn">YES</a>
            </div>
            <div class="col 6">
              <a class="waves-effect waves-light btn-large" id="loudspeaker_no_btn">NO</a>
            </div>
          </div>
          <div class="row loudspeaker_brand_row">
            <div class="input-field col s12">
              <input id="loudspeaker_brand" name= "loudspeaker_brand" type="text" class="validate" required>
              <label for="loudspeaker_brand">Loudspeaker Brand</label>
            </div>
          </div>
          <div class="row loudspeaker_product_row">
            <div class="input-field col s10">
                <input id="loudspeaker_product" name= "loudspeaker_product" type="text" class="validate" required>
                <label for="loudspeaker_product">Loudspeaker Product</label>
              </div>
              <div class="input-field col s2">
                <input id="loudspeaker_product_qty" name= "loudspeaker_product_qty" type="text" class="validate" required>
                <label for="loudspeaker_product_qty">Quantity</label>
              </div>
          </div>
           <!--Mixer Categories-->
           <div class="row">
            <div class="col s12">
              <h4>Do You Stock Mixing Consoles in Your Inventory?</h4>
            </div>
            <div class="col 6">
              <a class="waves-effect waves-light btn-large" id="mixer_yes_btn">YES</a>
            </div>
            <div class="col 6">
              <a class="waves-effect waves-light btn-large" id="mixer_no_btn">NO</a>
            </div>
          </div>
           <div class="row mixer_brand_row">
            <div class="input-field col s12">
              <input id="mixer_brand" name="mixer_brand" type="text" class="validate" required>
              <label for="mixer_brand">Mixer Brand</label>
            </div>
          </div>
          <div class="row mixer_product_row">
            <div class="input-field col s10">
                <input id="mixer_product" name="mixer_product" type="text" class="validate" required>
                <label for="mixer_product">Mixer Product</label>
              </div>
              <div class="input-field col s2">
                <input id="mixer_product_qty" name= "mixer_product_qty" type="text" class="validate" required>
                <label for="mixer_product_qty">Quantity</label>
              </div>
          </div>
          <!--Microphone Categories-->
          <div class="row">
            <div class="col s12">
              <h4>Do You Stock Microphones in Your Inventory?</h4>
            </div>
            <div class="col 6">
              <a class="waves-effect waves-light btn-large" id="mic_yes_btn">YES</a>
            </div>
            <div class="col 6">
              <a class="waves-effect waves-light btn-large" id="mic_no_btn">NO</a>
            </div>
          </div>
          <div class="row mic_brand_row">
            <div class="input-field col s12">
              <input id="microphone_brand" name="microphone_brand" type="text" class="validate">
              <label for="microphone_brand" required>Microphone Brand</label>
            </div>
          </div>
          <div class="row mic_product_row">
            <div class="input-field col s10">
                <input id="microphone_product" name="microphone_product" type="text" class="validate" required>
                <label for="microphone_product">Microphone Product</label>
              </div>
              <div class="input-field col s2">
                <input id="microphone_product_qty" name= "microphone_product_qty" type="text" class="validate" required>
                <label for="microphone_product_qty">Quantity</label>
              </div>
          </div>
          <!--Submit Button-->
          <div class="row">
              <div class="col s12 center-align">
                  <button type="submit" class="btn-large">
                      Add Inventory
                  </button>
              </div>
          </div>
        </form>
      </div>
</div>
{% endblock %}