<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Inventory Database</title>
</head>
<body>

    <header>
        <!--top navbar-->
        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">Missing Piece</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">About Us</a></li>
                {% if session.user %}
                  <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                  <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                  <li><a href="{{ url_for('search_passive') }}">Search Inventory</a></li>
                  <li><a href="{{ url_for('add_inventory') }}">Add To Inventory</a></li>
                  <li><a href="{{ url_for('my_inventory') }}">My Inventory</a></li>
                {% else %}
                  <li><a href="{{ url_for('register') }}">Register</a></li>
                  <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
              </ul>
            </div>
        </nav>
        <!--mobile side navbar-->
        <ul class="sidenav" id="mobile-demo">
          <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">About Us</a></li>
                {% if session.user %}
                  <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                  <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                  <li><a href="{{ url_for('search_passive') }}">Search Inventory</a></li>
                  <li><a href="{{ url_for('add_inventory') }}">Add To Inventory</a></li>
                  <li><a href="{{ url_for('my_inventory') }}">My Inventory</a></li>
                {% else %}
                  <li><a href="{{ url_for('register') }}">Register</a></li>
                  <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
        </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="center-align">HERO IMAGE</h1>
            </div>
        </div>
    </div>
    </header>
    <section>
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="row flashes center-align">
                      <h4>{{ message }}</h4>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
  </section>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col s12 center-align">
              <ul>
                <li><a class="" href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a class="" href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a class="" href="#"><i class="fab fa-instagram-square"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          </div>
        </div>
      </footer>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>