{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center-align">Edit Company Address</h2>
            </div>
        </div>
        <div class="row">
            <form class ="col s12 m8 offset-m2" method= "POST" action = "{{ url_for('edit_company_address', company_id=company._id) }}">
            <!--Heading-->
            <div class="row">
                <div class="col s12">
                    <h4 class="center-align">Input Company Details</h4>
                </div>
            </div>
            <!--Company Name-->
            <div class="row">
                <div class=" input-field col s12">
                    <input id="company_name" name="company_name" value="{{ company.company_name }}" type="text" class="validate" required>
                    <label for="company_name"><i class="fas fa-users"></i> Company Name</label>
                </div>
            </div>
            <!--Street Name-->
            <div class="row">
                <div class=" input-field col s12">
                    <input id="street_name" name="street_name" value="{{ company.street_name }}" type="text" minlength="10" maxlength="50" class="validate" required>
                    <label for="street_name"><i class="fas fa-road"></i> Street Name</label>
                </div>
            </div>
            <!--Postcode-->
            <div class="row">
                <div class=" input-field col s12">
                    <input id="postcode" name="postcode" value="{{ company.postcode }}" type="text" minlength="6" class="validate" required>
                    <label for="city"><i class="fas fa-road"></i> Postcode</label>
                </div>
            </div>
            <!--City-->
            <div class="row">
                <div class=" input-field col s12">
                    <input id="city" name="city" value="{{ company.city }}" type="text" minlength="3" class="validate" required>
                    <label for="city"><i class="fas fa-building"></i> City Name</label>
                </div>
            </div>
            <!--Phone Number-->
            <div class="row">
                <div class=" input-field col s12">
                    
                    <input id="phone" name="phone" value="{{ company.phone }}" type="tel" class="validate" required>
                    <label for="phone"><i class="fas fa-phone"></i> Phone Number</label>
                </div>
            </div>
            <!--submit button-->
            <div class="row">
               <div class="col s6">
                    <button href="#" class="btn waves-effect waves-light" type="submit" value="Submit">Cancel
               </div>
               <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" value="Submit">Update
                </div>
            </div>
            </form>
        </div>
    </div>
    
{% endblock %}