{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Edit Inventory</h2>
        </div>
    </div>
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_inventory',inventory_id=inventory._id) }}">
           <!--Categories-->
           <div class="row">
            <div class="col s12">
              <h4>Fill out information below to add to your inventory</h4>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <select id="categories_name" name="categories_name" class="validate" required>
                  <option value="" disabled selected>Choose your option</option>
                  {% for category in categories %}
                    {% if category.categories_name == inventory.categories_name %}
                      <option value="{{ category.categories_name }}" selected>{{ category.categories_name }}</option>
                    {% else %}
                      <option value="{{ category.categories_name }}">{{ category.categories_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label for="categories_name">Category</label>
              </div>
            </div>
          </div>
          <!--Brand Input-->
          <div class="row">
            <div class="input-field col s12">
              <input id="brand" name= "brand" value="{{ inventory.brand }}" type="text" class="validate" required>
              <label for="brand">Please Input the Brand Name</label>
            </div>
          </div>
          <!--Product-->
          <div class="row">
            <div class="input-field col s10">
                <input id="product" name= "product" value="{{ inventory.product }}" type="text" class="validate" required>
                <label for="product"> Please Input the Product Name</label>
              </div>
              <div class="input-field col s2">
                <input id="product_qty" name= "product_qty" value="{{ inventory.product_qty }}" type="number" class="validate" required>
                <label for="product_qty">Quantity</label>
              </div>
          </div>
          <!--Submit Button-->
          <div class="row">
              <div class="col s6 center-align">
                <a href="{{ url_for('my_inventory') }}"class="small_btn">
                  Cancel
                </a>
              </div>
              <div class="col s6 center-align">
                  <button type="submit" class="small_btn">
                      Confirm Edit
                  </button>
              </div>
          </div>
        </form>
      </div>
</div>
{% endblock %}