{% extends "base.html" %}
{% block content %}

    <section class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3>So How Does This Work</h3>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col s12 center-align">
                <p>write text about how the process works</p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col s6 center-align">
                <a class="waves-effect waves-light btn-large"><i class="fas fa-search"></i>Search Inventory</i>button</a>
            </div>
            <div class="col s6 center-align">
                <a class="waves-effect waves-light btn-large"><i class="fas fa-arrow-circle-up"></i></i> Create Account</i>button</a>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3>About Us</h3>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col s12 center-align">
                <p>write text about the organisation</p>
            </div>
        </div>
    </section>
{% endblock %}
