{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">
                My Inventory
            </h3>
        </div>
    </div>
    <div class="row">
        {% for inventory in inventories if session.user == inventory.created_by %}
        <!--Bootstrap Modal Body-->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
    
                </div>
                <div class="card-content">
                    <h4 class="card-title">{{ inventory.created_by }}</h4><br>
                    
                    <p><strong>Catergory:</strong>{{ inventory.categories_name }}</p><br>
                    <p><strong>Brand of {{ inventory.categories_name }} in stock is:</strong>{{ inventory.brand }}</p><br>
                    <p><strong>Name of {{ inventory.brand }} product in stock is:</strong> {{ inventory.product }} and they have {{ inventory.product_qty }} in stock</p><br>
                    <div class="row">
                        <div class="col s6">
                            <a href="{{ url_for('edit_inventory',inventory_id=inventory._id) }}" class="btn btn-primary">Edit</a>
                        </div>
                        <!--Bootstrap Button-->
                        <div class="col s6">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ inventory.inventory_id }}">
                                Delete
                              </button>
                        </div>
                        <!--Bootstrap Modal-->
                        <div class="modal modal fade" id="modal{{ inventory.inventory_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                </div>
                                <div class="modal-body">
                                Are you sure you want to delete this Inventory?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <a type="button" href="{{ url_for('delete_inventory', inventory_id=inventory._id) }}" class="btn btn-primary">Yes</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!--Materalise Button-->
                        <!-- <div class="col s6">
                            <button data-target="#modal{{ inventory.inventory_id }}" class="btn modal-trigger">Modal</button>
                        </div> -->
                    </div>
                </div>
            </div>
             <!--Materalise Modal-->
            <!-- <div>
                <div id="modal-{{ inventory.inventory_id }}" class="modal">
                    <div class="modal-content">
                      <h4>Modal Header</h4>
                      <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            </div> -->
        </div>
        {% endfor %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
        <script>src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"</script>
        <!--Materalise JS-->
        <script>
            // document.addEventListener('DOMContentLoaded', function() {
            //     var elems = document.querySelectorAll('.modal');
            //     var instances = M.Modal.init(elems, {});
            // });
        </script>
        <!--Bootstrap JS-->
        <script>
            var myModal = document.getElementById('myModal')
            var myInput = document.getElementById('myInput')
            
            myModal.addEventListener('shown.bs.modal', function () {
              myInput.focus()
            })
        </script>
    </div>
</div>

{% endblock %}
