{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center-align">
                    My Inventory
                </h2>
            </div>
        </div>
        <!--Card Containing Inventory Information-->
        <div class="row">
            {% for inventory in inventories if session.user == inventory.created_by %}
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-content">
                        <p><strong>Catergory:</strong> {{ inventory.categories_name }}</p><br>
                        <p><strong>Brand of {{ inventory.categories_name }} in stock is:</strong> {{ inventory.brand }}</p><br>
                        <p><strong>Name of {{ inventory.brand }} product in stock is:</strong> {{ inventory.product }} and they have <b>{{ inventory.product_qty }}</b> in stock</p><br>
                        <div class="row">
                            <div class="col l12 m12 s12 center-align" id="edit_inventory_btn_container">
                                <!--Edit Button-->
                                <a type ="button" href="{{ url_for('edit_inventory',inventory_id=inventory._id) }}" class="small_btn"><strong>Edit</strong></a>
                            </div>
                            <!--Delete Button-->
                            <div class="col l12 m12 s12 center-align" id="delete_inventory_btn_container">
                                <a type="button" class="small_btn" data-bs-toggle="modal" data-bs-target="#modal{{ inventory.inventory_id }}">
                                    <strong>Delete</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!--Delete Modal-->
                <div class="modal modal fade modal_relative" id="modal{{ inventory.inventory_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title center-align" id="exampleModalLabel">Warning!</h5>
                        </div>
                        <div class="modal-body center-align">
                        Are you sure you want to delete this Inventory?
                        </div>
                        <div class="modal-footer center-align">
                        <a type="button" class="small_btn" data-bs-dismiss="modal">No</a>
                        <a type="button" href="{{ url_for('delete_inventory', inventory_id=inventory._id) }}" class="small_btn">Yes</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script>src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"</script>
            <!--Bootstrap JS-->
            <script>
                var myModal = document.getElementById('myModal')
                var myInput = document.getElementById('myInput')
                myModal.addEventListener('shown.bs.modal', function () {
                  myInput.focus()
                })
            </script>
        </div>
    </div>
</body>

{% endblock %}
