{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center-align">Register an Account</h3>
            </div>
        </div>
        <div class="row">
            <form class ="col s12 m8 offset-m2" method= "POST" action = "{{ url_for('register') }}">
            <!--username-->
            <div class="row">
                <div class="col s12">
                {{ form.csrf_token}}
                <i class="fas fa-user-plus"></i>
                {{ form.username.label }}
                {{ form.username }}
                {% for error in form.username.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
                </div>
            </div>
            <!--password-->
            <div class="row">
                <div class="col s12">
                    <i class="fas fa-user-lock"></i>
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
            </div>
            <!--Heading-->
            <div class="row">
                <div class="col s12">
                    <h4 class="center-align">Input Company Details</h4>
                </div>
            </div>
            <!--Company Name-->
            <div class="row">
                <div class=" input-field col s12">
                    <input id="company_name" name="company_name" type="text" class="validate" required>
                    <label for="company_name"><i class="fas fa-users"></i> Company Name</label>
                </div>
            </div>
            <!--Street Name-->
            <div class="row">
                <div class=" input-field col s12">
                    <input id="street_name" name="street_name" type="text" minlength="10" maxlength="50" class="validate" required>
                    <label for="street_name"><i class="fas fa-road"></i> Street Name</label>
                </div>
            </div>
            <!--Postcode-->
            <div class="row">
                <div class=" input-field col s12">
                    <input id="postcode" name="postcode" type="text" minlength="6" class="validate" required>
                    <label for="city"><i class="fas fa-road"></i> Postcode</label>
                </div>
            </div>
            <!--City-->
            <div class="row">
                <div class=" input-field col s12">
                    <input id="city" name="city" type="text" minlength="3" class="validate" required>
                    <label for="city"><i class="fas fa-building"></i> City Name</label>
                </div>
            </div>
            <!--Phone Number-->
            <div class="row">
                <div class=" input-field col s12">
                    
                    <input id="phone" name="phone" type="tel" class="validate" required>
                    <label for="phone"><i class="fas fa-phone"></i> Phone Number</label>
                </div>
            </div>
            <!--submit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="small_btn" type="submit" value="Submit">Submit
                        <!-- <input type=submit value="Submit"> -->
                </div>
            </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12">
                <p class="center-align">
                    Already Registered ? <a href="{{ url_for('login') }}"> Log In</a>
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}