{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Search Inventory</h2>
        </div>
    </div>
    <div class="row">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <input type="text" name="query" id="query" class="validate" required>
                    <label for="query">Search Invetories</label>
                </div>
            </div>
            <!--Reset and Search Button-->
            <div class="row">
                <div class="col m6 s12 center-align" id="search_btn_container">
                    <a class="small_btn" type="button" href="{{ url_for('search_passive') }}">Reset</a>
                </div>
                <div class="col m6 s12 center-align" id="search_btn_container">
                    <input class="small_btn" type="submit" value="Search">
                </div>
                
            </div>
        </form>
    </div>
    
</div>
{% endblock %}