{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Search Inventory</h2>
        </div>
    </div>
    <div class="row">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <input type="text" name="query" id="query" class="validate" required>
                    <label for="query">Search Invetories</label>
                </div>
            </div>
            <!--Reset and Search Buttons-->
            <div class="row">
                <div class="col s6 center-align">
                    <a class="small_btn" type="button" href="{{ url_for('search_passive') }}">Reset</a>
                </div>
                <div class="col s6 center-align">
                    <button type="submit" class="small_btn">
                         Search
                    </button>
                </div>
                
            </div>
        </form>
    </div>
    <!--Search Result Card-->
    {% if inventories|length > 0 %}
    <div class="row">
        {% for box in boxes %}
            <div class="col s12">
                <div class="card">
                    <div class="card-content result_card_header">
                        <h4 class="card-title center-align result_card_header_title">{{box[0].company_name}}</h4>
                        <h5 class="card-title center-align result_card_header_title">{{box[0].company_name}} Inventory Entry</h5>
                    </div>
                  </div>
                <div class="card-content center-align result_card_content">
                    <p><strong>Catergory:</strong> {{box[1].categories_name}}</p><br>
                    <p><strong>Brand of  {{box[1].categories_name}} in stock is:</strong> {{box[1].brand}}</p><br>
                    <p><strong>Name of {{box[1].brand}} product in stock is: </strong>{{box[1].product}} and they have <b>{{box[1].product_qty}}</b> in stock</p><br>
                </div>
                <div class="card-content">
                    <!--Company Information Collapsible-->
                    <ul class="collapsible">
                        <li>
                          <div class="collapsible-header result_card_collapsible_title">Click For {{box[0].company_name}} Contact Details</div>
                          <div class="collapsible-body">
                            <h4 class="card-title">Contact Details</h4>
                            <p><strong>Company Name:</strong> {{box[0].company_name}}</p><br>
                            <p><strong>Street Name: </strong>{{box[0].street_name}}</p>
                            <p><strong>Postcode: </strong>{{box[0].postcode}}</p><br>
                            <p><strong>City: </strong>{{box[0].city}}</p><br>
                            <p><strong>Phone: </strong>{{box[0].phone}}</p><br>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <!--No Match Message-->
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">No Results Found</h3>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}